body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
}
#text {
    font-size: 80px;
    letter-spacing: -3px;
    text-align: center;
    margin: 0;
    position: absolute;
    width: 100%;
    top: 40%;
}
p {
    text-align: center;
    font-size: 11px;
    color: #999;
}